{{- if .Values.postgresql.enabled -}}
{{- $password := include "customer-api.postgresqlPassword" . }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "customer-api.fullname" . }}-postgresql
  labels:
    {{- include "customer-api.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
type: Opaque
data:
  postgres-password: {{ $password | b64enc | quote }}
{{- end }}

