{{- if .Values.postgresql.enabled -}}
{{- $password := include "customer-api.postgresqlPassword" . }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "customer-api.fullname" . }}-postgresql
  labels:
    {{- include "customer-api.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
  annotations:
    helm.sh/resource-policy: keep
type: Opaque
{{- $secretName := printf "%s-postgresql" (include "customer-api.fullname" .) }}
{{- $existingSecret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- if $existingSecret }}
data:
  postgres-password: {{ index $existingSecret.data "postgres-password" }}
{{- else }}
data:
  postgres-password: {{ $password | b64enc | quote }}
{{- end }}
{{- end }}

